.shellpath

**/__pycache__

externals/

configs/shell/paths

configs/nvim/*
!configs/nvim/autoload
!configs/nvim/colors
!configs/nvim/init.lua
!configs/nvim/lua

configs/vim/*
!configs/vim/autoload
!configs/vim/colors
!configs/vim/vimrc
